<div class="gradient-violent" id="home">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DEMO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SUPPORT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">DOCUMENT</a>
        </li>
        
          <button class="rounded-pill btnbuy1" href="#">BUY NOW <i class="fa fa-arrow-down"></i></button>
        
      </ul>
    </div>
  </div>
</nav>
<div class="body">
   
      <div class="row ">
  <div class="col-6 text-center ">
    <div class="about">
<h3>Lorax - Angular 13+ Admin Dashboar
  <br/><span>Template</span> </h3>
<p>Modern Web Application UI Kit and Admin Dashboard template with simple & clean design to help you build your projects faster.</p>
<p><button class="rounded-pill buybtn">BUY NOW <i class="fa fa-arrow-down" ></i></button> <button class="rounded-pill livebtn">LIVE DEMO  <i class="fa fa-arrow-right" ></i></button></p>
  </div>
</div>
  <div class="col-6 text-center">
    <img src="assets/banner.png" height="530px" width="830px"/>
  </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
